<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Condomínio Digital</title>
  <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}" />
  <!-- Estilo Principal do Template e Tailwind -->
  <link rel="stylesheet" type="text/css" th:href="@{/tailwind.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <!-- Estilo do MDDateTimePicker -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/mddatetimepicker/mdDateTimePicker.min.css}" />
  <!-- Estilo do MCDatepicker -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/mcdatepicker/mc-calendar.min.css}" />
  <!-- Estilo do SweetAlert2 -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/sweetalert2/sweetalert2.min.css}" />

  <!-- Biblioteca Alpine.js usada no Menu -->
  <script defer th:src="@{/js/vendors/alpinejs/cdn.min.js}"></script>
  <!-- Script para controle do Menu -->
  <script th:src="@{/js/scriptmenus.js}" defer></script>
  <!-- Biblioteca htmx -->
  <script defer th:src="@{/js/vendors/htmx/htmx.min.js}"></script>
  <script defer th:src="@{/js/vendors/htmx/htmx-ext-response-targets.min.js}"></script>
  <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
  <!-- Biblioteca SimpleMaskMoney -->
  <script th:src="@{/js/vendors/maskmoney/simple-mask-money.umd.min.js}" defer></script>
  <!-- Biblioteca MCDatepicker -->
  <script th:src="@{/js/vendors/mcdatepicker/mc-calendar.min.js}" defer></script>
  <!-- Biblioteca MDDateTimePicker -->
  <script th:src="@{/js/vendors/mddatetimepicker/draggabilly.pkgd.min.js}" defer></script>
  <script th:src="@{/js/vendors/mddatetimepicker/moment.min.js}" defer></script>
  <script th:src="@{/js/vendors/mddatetimepicker/mdDateTimePicker.js}" defer></script>
  <!-- Biblioteca SweetAlert2 -->
  <script th:src="@{/js/vendors/sweetalert2/sweetalert2.all.min.js}" defer></script>

  <script th:src="@{/js/app.js}" defer></script>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body hx-ext="response-targets" hx-target="#main" hx-target-5*="#main" hx-target-4*="#main">
  <div class="container flex h-screen min-w-full flex-col">
    <div th:replace="~{layout/fragments/header :: header}"></div>

    <section class="flex flex-1">
      <div th:replace="~{components/sidebar :: sidebar}"></div>

      <th:block layout:fragment="conteudo"></th:block>
    </section>

    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>
  </div>

  <!-- Bloco para JavaScript adicional que a página pode precisar -->
  <th:block layout:fragment="scripts"></th:block>
</body>

</html>